html, body {
    height: 100%;
}

.drawpanel {
    border-width: 1px;
    border-style: solid;
    border-color: black;
}

.textpanel {
    text-align: center;
}

.row {
    margin: 10px;
}

.color-btn {
    padding: 20px 0px !important;
}

.action-btn {
    padding: 20px 0px !important;
}

.mobileHoverFix:hover,
.mobileHoverFix.hover {
    background-position: 0 0px;
}

.full {
    min-height: 100%;
    height: 100%;
}
